In [1]:
%matplotlib inline
from datetime import timedelta, datetime
from env import user, password, host
from math import sqrt 
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.api import Holt, ExponentialSmoothing
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import requests
import seaborn as sns
import statsmodels.api as sm
import warnings
plt.rc('figure', figsize=(13, 7))
plt.rc('font', size=16)
plt.style.use('seaborn-whitegrid')
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('DISTRICT_summary_22.csv')

In [3]:
df.head()

,AGGREGATION LEVEL,REGION,DISTNAME,DISTRICT,CHARTER_STATUS,SECTION,HEADING,HEADING NAME,YR22
0,DISTRICT SUMMARY,10.0,A W BROWN LEADERSHIP ACADEMY,57816.0,OPEN ENROLLMENT CHARTER,A-PARTICIPATION,A01,DISTRICT CUMULATIVE YEAR END ENROLLMENT,1177.0
1,DISTRICT SUMMARY,10.0,A W BROWN LEADERSHIP ACADEMY,57816.0,OPEN ENROLLMENT CHARTER,A-PARTICIPATION,A02,DISTRICT DISCIPLINE POPULATION,156.0
2,DISTRICT SUMMARY,10.0,A W BROWN LEADERSHIP ACADEMY,57816.0,OPEN ENROLLMENT CHARTER,A-PARTICIPATION,A03,DISTRICT DISCIPLINE RECORD COUNT,248.0
3,DISTRICT SUMMARY,10.0,A W BROWN LEADERSHIP ACADEMY,57816.0,OPEN ENROLLMENT CHARTER,B-DISCIPLINE DATA TRENDS,B10,COUNT OF STUDENTS SUSPENDED IN SCHOOL,45.0
4,DISTRICT SUMMARY,10.0,A W BROWN LEADERSHIP ACADEMY,57816.0,OPEN ENROLLMENT CHARTER,B-DISCIPLINE DATA TRENDS,B13,STUDENTS SUSPENDED OUT OF SCHOOL,132.0

In [4]:
df.shape

(66491, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66491 entries, 0 to 66490
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGGREGATION LEVEL  66491 non-null  object
 1   REGION             66489 non-null  float64
 2   DISTNAME           66489 non-null  object
 3   DISTRICT           66489 non-null  float64
 4   CHARTER_STATUS     66489 non-null  object
 5   SECTION            66489 non-null  object
 6   HEADING            66489 non-null  object
 7   HEADING NAME       66489 non-null  object
 8   YR22               66489 non-null  float64
dtypes: float64(3), object(6)
memory usage: 4.6+ MB

In [6]:
df.columns.value_counts

<bound method IndexOpsMixin.value_counts of Index(['AGGREGATION LEVEL', 'REGION', 'DISTNAME', 'DISTRICT', 'CHARTER_STATUS',
       'SECTION', 'HEADING', 'HEADING NAME', 'YR22'],
      dtype='object')>